@{
    ViewData["Title"] = "Home Page";
}

<body id="bgcontent">
    <div id="containerjambo" class="jumbotron">
        <p class="text-uppercase text-white">LX Group -  Neil NIU</p>
        <h1 class="text-uppercase text-white">API - Sensor Management</h1>
        <div class="space10"></div>
        @Html.ActionLink("Start", "Index", "DevicesDataCentre", null, new { @class = "primary-btn banner-btn" })

    </div>
    
</body>


